.body-container{
    padding: 10px 5px;
    text-align: center;
    height: auto;
    overflow: auto;
    border: 2px solid #D7263D;
    border-bottom: 0px;
    height: 350px;
}

h1{
    color: #D7263D;
}

