.body-container{
    background: #68C5DB;
    padding: 10px 0%;
    text-align: center;
    height: 365px;
    overflow: auto;
    border: 5px solid purple;
    border-bottom: 0px;
}

h1{
    color: #D7263D;
}