.search-container{
    text-align: center;
    border-right: 2px solid #D7263D;
    border-left: 2px solid #D7263D;
    padding: 5px 5px;
}

.search-input{
    text-align: center;
    font-size: 1.1em;
    border: 2px solid #D7263D;

}

.search-button{
    margin-bottom: 10px;
    width: 50%;
    height: 50px;
    color: #D7263D;
    font-size: 1.1em;
    font-weight: bold;
}

::-webkit-input-placeholder { 
    color: white;
    ;
  }

  h2{
    color: #D7263D;
  }